<h2>登録情報編集</h2>

 <%= form_for(resource, as: resource_name, url: customer_path(resource_name)) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :"氏名（姓）" %><br/>
    <%= f.text_field :last_name, autofocus: true, autocomplete:"last_name" %>
  </div>

  <div class="field">
    <%= f.label :"氏名（名）" %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete:"first_name" %>
  </div>

  <div class="field">
    <%= f.label :"郵便番号" %><br />
    <%= f.text_field :postal_code, autocomplete: "postal_code" %>
  </div>

  <div class="field">
    <%= f.label :"住所" %><br />
    <%= f.text_field :address, autocomplete: "address"  %>
  </div>

  <div class="field">
    <%= f.label :"電話番号" %><br />
    <%= f.text_field :telephone_number, autocomplete: "telephone_number" %>
  </div>

  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="row">
    <%= f.label "編集内容を保存する",class: "btn-success"%>
  </div>

  <div class="row">
    <%= f.label "退会する",class: "btn-danger"%>
  </div>
