<div class='container'>
  <div class='row'>
    <h4 class="col offset-md-1">商品編集</h4>
  </div>


  <%= form_with model: @item, url: admin_item_path, local:true do |f| %>
  <div class='row mt-md-5'>
    <div class="col-md-2 offset-md-2 ">
      商品画像
    </div>
    <div class="col-md-8">
      <%= f.attachment_field :image %>
    </div>
  </div>

  <div class='row mt-md-3'>
    <div class="col-md-2 offset-md-2">
      商品名
    </div>
    <div class="col-md-8">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class='row mt-md-3'>
    <div class="col-md-2 offset-md-2">
      商品説明
    </div>
    <div class="col-md-8">
      <%= f.text_area :introduction %>
    </div>
  </div>

  <div class='row mt-md-3'>
    <div class="col-md-2 offset-md-2">
      ジャンル
    </div>
    <div class="col-md-8">
      <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "-- 選択してください --" %>
    </div>
  </div>

  <div class='row mt-md-3'>
    <div class="col-md-2 offset-md-2">
      税抜価格
    </div>
    <div class="col-md-8">
      <%= f.text_field :price %>円
    </div>
  </div>

  <div class='row mt-md-3'>
    <div class="col-md-2 offset-md-2">
      販売ステータス
    </div>
    <div class="col-md-4">
      <%= f.radio_button :is_active, true %>
      <%= f.label :is_active, '販売中', value: true %>
    </div>
  </div>

  <div class='row mt-md-3'>
    <div class="col-md-2 offset-md-2"></div>
      <div class="col-md-4">
      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active, '販売停止中', value: false %>
      </div>
  </div>

  <div class="row mt-md-3">
   <div class="col-md-2 offset-md-2"></div>
    <div class="col-md-4">
      <%= f.submit '変更を保存する' %>
    </div>
  </div>
  <% end %>
</div>

