<div class="container px-5 px-sm-0">
  <div class="col-12">
    <h2>注文履歴詳細</h2>
    <%= form_with model: @order, url:admin_order_path, local: true do |f| %>
    <table  width="500px",class="table table-borderless">
      <tr>
        <td width="150px">購入者</td>
        <td width="200px">
          <%= link_to admin_customer_path(@order.customer_id) do %>
          <%= @order.customer.last_name + @order.customer.first_name %>
          <% end %></td>
        </tr>
      <tr>
        <td>注文日</td>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <td>配送先</td>
        <td><%= @order.customer.address %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= @order.name %></td>
      </tr>
      <tr>
        <td>支払方法</td>
        <td>銀行振込</td>
      </tr>
      
      <tr>
        <td>
          <%= f.label :status, '注文ステータス' %>
        </td>
        <td>
          <%= f.select :status, {'入金待ち': 0, '入金確認': 1, '制作中': 2, '発送準備中': 3, '発送済み': 4}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
        </td>
        <td>
          <%= f.submit '更新', class: 'btn btn-success btn-block' %>
        </td>
      </tr>

    </table>
    <% end %>

  
    <div class="row">
      <div class="col-8">
        <table class="table table-bordered table-sm">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th colspan="5"></th>
          </tr>
          <% @order.order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.item.name %></td>
         　  <td><%= order_item.item.price %></td>
            <td><%= order_item.amount %>個</td>
            <td><%= order_item.item.price *  order_item.amount  %></td>
            <td>
              <%= form_with model: order_item , url:admin_path(@order, order_item), local: true do |f| %>
              <%= f.select :making_status, {'制作不可': 0, '制作待ち': 1, '制作中': 2, '制作完了': 3}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %> 
            <td>
              <%= f.submit '更新', class: 'btn btn-success btn-block' %>
              <% end %>
              </td>
            </td> 
           </tr>
          <% end %>
        </table>   
       </div>
      
      <div class="col-4">
        <table class="table table-bordered table-sm">
        <tr>
        </tr> 
        <tr>
        </tr>
        <tr>
            <td>商品合計</td>
            <td><%= @order.total_payment - @order.ship_cost  %>円</td>
        </tr>
        <tr>
            <td>送料</td>
            <td>800円</td>
        </tr>
        <tr>
            <td>請求金額合計</td>
            <td><%= @order.total_payment %>円</td>
        </tr>
        </table>
      </div>
    </div>
  </div>
</div>