<div class="container">
  <h2>ショッピングカート</h2>
<div>
  <%= link_to 'カートを空にする', public_cart_items_destroy_all_path(@cart_items), method: :delete, class: 'btn btn-danger' %>
</div>
<div class='row'>
    <table border="1">
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
      <tb>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.price.to_s(:delimited) %></td>
            <td>
              <%= form_with(model:[@item, @cart_item], url: public_cart_item_path(cart_item.id), local:true) do |f| %>
                <%= f.select :count, options_for_select((1..10).to_a), include_blank: "#{cart_item.count}" %>
              <% end %>
              <%= link_to '変更', public_cart_item_path(cart_item.id), method: :PATCH, class: 'btn btn-success btn-block' %>
            </td>
            <td><%= ((cart_item.item.price*1.10)*(cart_item.count)).to_i %></td>
            <td>
              <%= link_to '削除する', public_cart_item_path(cart_item.id), method: :delete, class: 'btn btn-danger btn-block' %>
            </td>
          </tr>
        <% end %>
      </tb>
    </table>
  </div>
</div>
