<h4>注文確認情報</h4>
<%= form_for(@order_item, url: public_orders_path) do |f| %>
<% @total = 0 %>

<th>商品名</th>
<th>単価(税込)</th>
<th>数量</th>
<th>小計</th>

<% current_customer.cart_items.each do |item| %>

<td><%= item.name %></td>
<td><%= converting_to_jpy(item.product.price.floor) %>円</td>
<td><%= item.quentity %>個</td>
<td><%= converting_to_jpy(item.product.price * item.quentity) %>円</td>
<% @subtotal = item.product.price * item.quentity %>
<% @total += @subtotal %>
<% end %>

<th>送料</th>
<td><%= @postage %>円</td>

<th>合計金額</th>
<td><%= converting_to_jpy(@total.floor) %>円</td>
<th>請求金額</th>
<td><%= converting_to_jpy(@total += @postage.floor) %>円</td>
<% end %>

<%= form_for(@order, url: public_orders_path) do |a| %>
<div>
支払い方法
</div>
<%= @payment %>
<%=field :payment %>
<div>
お届け先
</div>
<%= @order_delivery %>
<%=field :Delivery_address, :value => @order_delivery %>
<% @postage %>
<%=field :postage, :value => "800" %>

<%= a.submit "注文を確定する", class: "btn btn-success btn-lg" %>
<% end %>
</div>
</div>

