<div class="container">
  <h2>
  商品一覧
  <span>全<%= @items.total_count %>件</span>
</h2>
  <div class="row">
      <% @items.each do |item| %>
      <div class="col-md-3">
        <div><%= attachment_image_tag item, :image, format: 'jpeg', size: "180x130" %></div>
        <div><%= link_to item.name, public_item_path(item.id) %></div>
        <% if item.is_active == true %>
        <p>¥<%= item.price.to_s(:delimited) %></p>
        <% elsif item.is_active == false %>
        <p>売り切れ中</p>
        <% end %>
      </div>
      <% end %>
    <div class="text-center"><%= paginate(@items) %></div>
  </div>
</div>

