<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3"><%= attachment_image_tag @item, :image, size:'280x200' %></div>
    <div class="col-md-5">
        <h3><%= @item.name %></h3>
        <p><%= @item.introduction %></p>
        <h5><%= @item.price %>円</h5>
      <div class="field">
        <%= form_with model: @cart_item, url: public_cart_items_path, local:true do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <% if customer_signed_in? %>
          <%= f.select :count, options_for_select((1..10).to_a), include_blank: "個数選択" %>
          <%= f.submit "カートに入れる", class: "glyphicon glyphicon-shopping-cart btn btn-success" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
